fastapi~=0.95.1
uvicorn

#for template
jinja2

#for static files
aiofiles

#for database
sqlalchemy~=2.0.13
pymysql

#for loading environment variables
python-dotenv~=1.0.0

#for email validation
pydantic[email]~=1.10.7

#hashing
passlib[bcrypt]~=1.7.4

#for testing
pytest
requests